<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruthb.careapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.RegisterActivity" />
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ManualActivity"
            android:label="Manual do cuidador"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PatientActivity"
            android:label="Pacientes"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AddPatientActivity"
            android:label="Adicionar Paciente"
            android:parentActivityName=".view.PatientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SickActivity"
            android:label="Doenças"
            android:parentActivityName=".view.PatientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ExamActivity"
            android:label="Exames e consultas"
            android:parentActivityName=".view.PatientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ProfileActivity"
            android:label="Editar perfil"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RemedyActivity"
            android:label="Remédios"
            android:parentActivityName=".view.PatientActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>